[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chainlit = "==1.1.402"
numpy = "==1.26.4"
openai = "==1.47.1"
pydantic = "==2.9.2"
pydantic-settings = "==2.8.1"

[dev-packages]
pre-commit = "*"
ipykernel = "*"

[scripts]
format = "pre-commit run --all-files"

[requires]
python_version = "3.12"
